{% extends 'base.html.twig' %}

{% block body %}

<html>
    <head>
        <meta charset="UTF-8">

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
        {% endblock %}

    </head>
    <body>
        <h1 align='center' id="mainHeader">Welcome!</h1>
        <div id="toolbar">
            <a class="btn btn-primary" href="http://symfony4.loc/login" role="button">Login</a>
            <a class="btn btn-primary" href="http://symfony4.loc/register" role="button">Registration</a>
        </div>
    </body>
</html>
{% endblock %}