<html>
    <h1 align='center'>You are on home page.</h1>
    <form action="" method="post">
        <input type="hidden" name="_target_path" value="/main" />
        <button type="submit">Login</button>
    </form>
</html>