{% extends 'base.html.twig' %}

{% block body %}

<html>
    <head>
        <meta charset="UTF-8">

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
        {% endblock %}

    </head>
    <body>
        <div id="toolbar">
            <a class="btn btn-primary btn-lg" href="{{ toLoginLink }}" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="{{ toRegistrationLink }}" role="button">Registration</a>
        </div>

        <div class="wrapper">
            <div class="form-signin">
                <h1 class="form-signin-heading">Welcome</h1>
                <h2 class="form-signin-heading">to Quizzes competition</h2>
                <h3>Network for people who like to compete</h3>
                <h3>in intellectual quiz battle.</h3>
                <br>
                <h3>Rules are quite simple:</h3>
                <ul>
                    <li>There is a list of enabled quizzes</li>
                    <li>You are to chose any you want</li>
                    <li>And to do your best to answers correctly</li>
                    <li>Eventually you get TOP-3 best players</li>
                    <li>Compete with other users to become the best one</li>
                </ul>
            </div>
        </div>

    </body>
</html>
{% endblock %}