table {
    font-size: 17px;
}

#mainHeader {
    font-weight: bold;
    font-size: 45px;
}

#logout {
    font-size: 20px;
    position: absolute;
    left:1750px;
}

a {
    margin: 15px 5px;
}

#entityOptions {
    margin-left: 30px;
}

html {
    font-size: 15px;
}

label {
    margin-left: 10px;
}

#sortOptions {
    font-size: 20px;
    margin: 20px 140px;
}

#filter {
    position: absolute;
    left: 640px;
    top: 22px;
    width: 180px;
}