table {
    font-size: 20px;
}

#mainHeader {
    font-weight: bold;
    font-size: 45px;
}

#logout {
    margin-top: 10px;
    font-size: 20px;
    position: absolute;
    left:1750px;
}

html {
    font-size: 20px;
}